<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<div class="w-100 flex relative overflow-hidden pb3">
			{{ range .Pages.ByPublishDate.Reverse }}
				<div class="carousel-slide w-100 relative flex items-end bg-grey-1 br1 pa3">
					<div class="pr3">
						<img src="{{ .Params.Image }}">
					</div>
					<div class="flex flex-column">
						<h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
						<p class="mb0 grid-r2-s1">{{ .Description }}</p>
					</div>
				</div>
			{{ end }}
		</div>
		<div class="w100 flex justify-center gap3">
			{{ range $index, $value := .Pages.ByPublishDate.Reverse }}
				<label class="carousel-thumbnail">
					<input class="hide-accessible carousel-radio" type="radio" name="carousel-thumb" {{ if not $index }}checked{{ end }}>
					<img src="{{ .Params.Image }}">
				</label>
			{{ end }}
		</div>
	</div>
</div>
