<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center">
		<div class="flex justify-evenly">
			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://linkedin.com/in/yoshivanbelkom" "icon" "fa-brands fa-linkedin-in") }}
					{{ partial "social-icon" (dict "link" "mailto:contact@yoshivanbelkom.com" "icon" "fa-solid fa-envelope") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/yoshivanbelkom/" "icon" "fa-brands fa-github") }}
				</ul>
			</div>
			{{partial "pagination" }}
		</div>
	</div>
</footer>
