<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  	<base href="{{ $.Site.BaseURL }}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{.Title}}">
	<meta name="twitter:description" content="{{.Description}}">
	<meta name="twitter:image" content="./public/portrait_drawing.png">

	<script src="https://kit.fontawesome.com/46a049b09d.js" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#fff">

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>