
.carousel-slide {
  flex: 1 0 100%;
  transition: all 300ms ease-out;
}

.carousel-thumbnail {
  max-width: 4rem;
}

.carousel-thumbnail img {
  object-fit: cover;
  height: 100%;
}

.carousel-thumbnail [type=radio] + img {
  cursor: pointer;
}

.carousel-thumbnail [type=radio]:checked + img {
  outline: 2px solid var(--primary);
}